.container {
// mobile 480px (450)
// tablet 768px
// desktop 1200px

    // mobile
    @media screen {min-width: 480px}
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;

    // tablet
    @media screen {min-width: 768px}
    max-width: 768px;

    // desktop styles
    @media screen {min-width: 1200px}
    max-width: 1200px;
    
}