.customers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

}


.customers__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 210px;
    height: 92px;
    border: 1px solid var(--icon-social-cl);
    border-radius: 4px;
    color: var(--icon-social-cl);
    cursor: pointer;
    transition: border-color var(--transition-time) var(--transition-cubic), color var(--transition-time) var(--transition-cubic);
    
    @media screen and (min-width: 768px) {
        width: 226px;
    }
    
    @media screen and (min-width: 1200px) {
        width: 170px;
        height: 92px;
    }

    &:hover,
    &:focus {
        color: var(--basic-blue);
        border-color: var(--basic-blue);
    }
}

.customers__icon {
    fill: currentColor;
}