header{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid #ececec;
    
}
.header__container,
.main-nav {
  display: flex; 
  align-items: center; 
}
.header-logo {
    margin-right: 93px;
}
.main-nav {
    margin-right: 318px;
}
.header__list {
    display: flex;
    align-items: center;
    gap: 50px;
}

.contacts {
    display: flex;
    align-items: center;
    gap: 30px;
}
.contacts__icon {
margin-right: 10px;
}


.header__link,
.contacts__link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height:calc(16/14);
    letter-spacing: 0.02em;

    &:hover,
    &:focus {
        color:var(--basic-blue);
    }
}

.header__link.header__link--active {
color: var(--basic-blue);
}

.contacts__link {
    color: var(--contacts-cl);
}
    
.contacts__icon {
    fill: currentColor;
}

.header-logo {
    font-family:var(--secondary-font);
    color: var(--basic-blue);
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.header-logo__text {
    color: #000000;
}
.footer-logo-text {
    color: var(--light-txt-cl);
}
.header__link {
    position: relative;
}

.header__link--active::after{
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--basic-blue);
    border-radius: 2px;
}
